/**
* Fonts
**/
@font-face{
	font-family: "AntsyPants Regular";
	src: url("../font/ANTSYPAN.TTF");
}
@font-face{
	font-family: "Chunkfive";
	src: url("../font/Chunkfive.otf");
}

body{
	background-color: #e5dec2;
    font-family: Gabriola;
}

nav{
    background-color: #b03e2c;
    color: #e5dec2;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    -moz-box-shadow: 0 1px 10px 0 black;
    -webkit-box-shadow: 0 1px 10px 0 black;
    -o-box-shadow: 0 1px 10px 0 black;
    box-shadow: 0 1px 10px 0 black;
}

nav a{
    text-decoration: none;
    color: #e5dec2;
}

nav a:hover{
    color: #47afb0;
}

nav li{
    display: inline-block;
    font-family: "Gabriola";
    font-size: 1.7em;
    padding-left: 10%;
}

nav ul{
    text-align: center;
    padding-right: 10%;
}

h1, h2{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3em;
    color: #47afb0;
    text-align: center;
}

p{
	font-family: "Gabriola";
	font-size: 1.7em;
}

#photos-header ul{
	margin-top: 3%;
	text-align: center;
}

#photos-header li{
	display: inline-block;
}

#wrapper-title-header{
	margin-top: 5%; 
	margin-bottom: 5%;
	text-align: center;

}

#title-header{
	font-family: "Chunkfive";
	font-size: 5em;
	color: #b03e2c;
	text-shadow: -1px 0 white, 0 4px white, 0 0 white, 0 -1px white;
}

#header_circleGenre{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    display: inherit;
    vertical-align: middle;
    margin-right: 10px;
}

#facebook-profile{
    margin-top: 2%;
    margin-left: 2%;
    display: inline-block;
    font-family: "Gabriola";
    font-size: 1.4em;
}

#facebook-profile a{
    color: black;
}

#header_circleGenre img{
    border-radius: 50%;
}

#wrapper-animal-enterprise{
	background-color: rgb(185, 122, 87);
	padding-top: 5px;
	padding-bottom: 5px;
	width: 30%;
	margin: auto;
	border-radius: 4px;
	box-shadow: 5px 5px 15px 0 #656565;
}

#second-wrapper-animal-enterprise{
	border: 3px solid white;
	width: 96%;
	margin: auto;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgb(185, 122, 87);
}

#title-enterprise{
	display: block;
	font-size: 2.5em;
	font-family: "Gabriola";
	color: white;
}

/**
* Facebook albums
**/

#userFacebookAlbums, #concurrent-gallery{
    width: 70%;
    margin: auto;
    text-align: center;
}

#userFacebookAlbums .wrapperAlbums, #concurrent-gallery .wrapperAlbums{
    display: inline-block;
    margin-left: 15px;
}

.wrapperAlbums:hover{
    box-shadow: none;
}

#uploadActionNav, #uploadActionNav1, #hideAlbumsAction{
    cursor: pointer;
}

#hideAlbumsAction{
    width: 100%;
    font-size: 2em;
    margin-bottom: 1%;
    text-align: left!important;
}

.wrapperAlbums{
    background-color: white;
    width: 196px;
    height: 196px;
    margin-bottom: 15px;
    margin-left: 15px;
    box-shadow: 5px 5px 15px 0 #656565;
    vertical-align: top;
    cursor: pointer;
}

.albumFacebookTitle{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.6;
    display: block;
    margin-top: -21%;
    vertical-align: top;
}

/**
* Modal window
**/

#wrapper-modal-window{
    display: none;
    width: 45%;
    margin: auto;
    margin-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    font-family: "Gabriola";
}

#content-modal-window{
    width: 88%;
    margin: auto;
    padding: 5px;
    border: solid grey 1px;
}

/**
* Class
**/

.blue-sky{ color : #47afb0; }

.button{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.button-red{
    background-color: #d9534f;
    border-color: #d9534f;
}

.button-red:hover{
    background-color: #c9302c;
    border-color: #ac2925;
}

.title{
    color: #47afb0;
    font-size: 2em;
}

/**
* My picture
**/

#wrapper-my-picture{
    text-align: center;
}

#my-picture, #infos-my-picture{
    display: inline-block;
    vertical-align: middle;
}

#infos-my-picture{
    padding-left: 60px;
    font-size: 1.3em;
}

#my-picture img{
    border: 7px solid #ffffff;
}
